<div class="about-me">
  <div class="about-me__layer"></div>
</div>
<div class="about-me__background"></div>
<div class="about-me__overlay">
  <h3 class="about-me__header">About me</h3>
  <ul class="list">
    <li class="list__item">
        I am an enthusiastic and self-motivated Software Developer with 6 years of
        experience in creating websites. Proficient in JavaScript, PHP, HTML, CSS, SASS and
        experienced with Angular 1 and 2, Node, and JQuery.
        I am also familiar with Java, C++, C, C#, and Shell Scripting
    </li>
    <li class="list__item">
        In my free time, I'd like to take my camera on a long hike. Photography is something that I
        recently pick up and I find myself really enjoy doing it.
    </li>
    <li class="list__item">
        My favourite recreational activity to do is volleyball. It's a sport that requires great team work and
        communication. It's also a great way to expand my network.
    </li>
  </ul>
</div>
