@import "../../assets/scss/main";

@mixin blob() {
  @include absolute-center(60%, 80%);
  min-width: 800px;
}

.about-me {
  @include full-background('https://drive.google.com/uc?id=1JZbB_CihB-zXdAuJo_d3xwtu6j44hIjX');

  &__layer {
    @include fade-out-bg;
  }

  &__background {
    background: #cccccc;
    border-radius: 10px;
    opacity: 0.5;
    position: absolute;
    top: 0px;

    @include square(100%);
  }

  &__overlay {
    font-size: 1.25rem;
    padding: 20px;

    @include blob;
  }

  &__header {
    text-align: center;
  }

  &__list {
    &__item {
      margin-bottom: 20px;
    }
  }
}

@include media-breakpoint-down(xl) {
  .about-me {
    background-position: 75% 50%;
  }
}

@include media-breakpoint-down(md) {
  .about-me {
    background-position: 95% 50%;

    &__overlay {
      width: 80%;
      min-width: 650px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .about-me {
    &__overlay {
      min-width: 400px;
      width: 98%;
    }
  }
}

@include media-breakpoint-down(xs) {
  .about-me {
    &__overlay {
      width: 100%;
      border-radius: 0;
      min-height: 100%;
    }
  }
}