<div class="about-me">
  <div class="about-me__layer"></div>
</div>
<div class="about-me__background"></div>
<div class="about-me__overlay">
  <h3 class="about-me__header">About me</h3>
  <ul class="about-me__list">
    <li class="about-me__list__item">
        I am an enthusiastic and self-motivated Software Developer with 6 years of
        experience in creating websites. Proficient in JavaScript, PHP, HTML, CSS, SASS and
        experienced with Angular 1 and 2, Node, and JQuery.
        I am also familiar with Java, C++, C, C#, and Shell Scripting
    </li>
    <li class="about-me__list__item">
        During my free time, I'd like to take my camera on a long stroll. Photography is something that I
        recently picked up and I find it really enjoyable.
    </li>
    <li class="about-me__list__item">
        My favourite recreational activity is volleyball. It's a sport that requires great team work and
        communication. It's also a significant way to expand my social network.
    </li>
  </ul>
</div>
