<div class="cover">
  <div class="about-me"></div>
  <div class="background"></div>
  <div class="overlay">
    I am an enthusiastic and self-motivated Software Developer with 6 years of 
    experience in creating websites. Proficient in Angular 1 and 2, Node, PHP, 
    JavaScript, jQuery, AJAX, HTML, CSS, SASS, Processing and MySQL. 
    Knowledgeable in C++, C, C#, Java, ASP.NET, Shell Scripting and Perl
    <br/><br/>

    In my free time, I enjoy going on a long hike and looking for good places and moment to take photos.
    In my opinion, the best photos don't come from the best equipments. 
    <br/><br/>

    Another thing I like to do is playing volleyball. It's a great sport that requires team work, 
    communication,  It's also a great way to make new friends. 
    I can play many sports but volleyball is I've make many good friends . 
    It requires great team work and 
  </div>
</div>
