@import 'node_modules/bootstrap/scss/bootstrap';
@import "../../assets/scss/colors";

.top-nav {
  position: absolute;
  width: 100%;
  z-index: 1000;

  a {
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
  .mat-button {
    height: 100%;
    line-height: 65px;
    border-top: solid 3px transparent;
    border-radius: 0px;

    .mat-icon {
      top: 4px;
      position: relative
    }

    &:hover, &.active {
      border-top-color: $accent1;
    }

    &:hover {
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }
  }
  .mat-toolbar-single-row {
    padding: 0px;
      .mat-toolbar-single-row {
      padding: 0 2px 0 16px;
    }
  }

  .example-fill-remaining-space {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
  }

  .profile-icon {
    background: $white;
    display: block;
    height: px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    color: $primary1;
  }

  .top-nav-icon {
    fill: $white;
    position: relative;
    top: 4px;
  }
}

@include media-breakpoint-down(xs) { 
  .top-nav {
    .mat-button {
      padding: 0px;
      min-width: 60px;
    }
  }
}