@import 'node_modules/bootstrap/scss/bootstrap';
@import "../../assets/scss/main";

.home {
  @include full-background('https://drive.google.com/uc?id=1nmbZMDuDsaDVjMQK2zB4OAu9HQhx7yhJ');
}

.home-layer {
 @include fade-out-bg;
}


.absolute-center {
  @include absolute-center(400px, 190px);
  color: $white;
  text-align: center;
  text-shadow: 1px 1px #bbafaf;
  h1 {
    font-size: 2.3rem;
  }

  span {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

@include media-breakpoint-down(md) { 
  .home {
    background-position: 75% 50%;
  }
}
