@import "../../assets/scss/main";
.works {
  padding: 40px 20px 0 20px;
  overflow: hidden;
}
.row {
  .card {
    height: 100%;

    .company-logo {
      height: 150px;
      width: 100%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;

      &.ibm {
        background-image: url("https://drive.google.com/uc?id=1J-k7IPgOSw1nrU3aqp1_-SVsAapdzz-b");
      }

      &.fivel {
        background-image: url("https://drive.google.com/uc?id=1HTfTlnVLUiWU2k9XmZqGnYys2-Nw28_y");
      }

      &.ducco {
        background-image: url("https://drive.google.com/uc?id=1vctjx76JcrhyKUnH6FKF4LChRbixbPJC");
      }

      &.seneca {
        background-image: url("https://drive.google.com/uc?id=14Sy2kmZ5LeXoiYIfEOtbuBIErLKXfbR1");
      }
    }
  }

  .col-lg-6 {
    margin-bottom: 20px;
  }
}