<div class="works">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="company-logo ibm"></div>
        <!-- <img class="card-img-top" height="150px" src="https://drive.google.com/uc?id=1J-k7IPgOSw1nrU3aqp1_-SVsAapdzz-b" alt="Card image cap"> -->
        <div class="card-body">
          <h4 class="card-title">Front end Developer</h4>
            <ul class="card-text">
              <li>
                  Contribute to IBM internal Angular 1 and Angular 2 component library.
              </li>
              <li>
                  Work on various web applications alongside designers to provide user with better user experience.
              </li>
              <li>
                  Provide mentorship and guidance to new hires.
              </li>
              <li>
                  Share tips and tricks with other front end developers by participating in weekly internal FEDs meeting.
              </li>
              <li>
                  Converted the previous CSS code for one of the applications to SASS
              </li>
            </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted"><b>Tech</b>: Angular 1 and 2, JavaScript, HTML, CSS, SASS</small>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="company-logo fivel"></div>
        <div class="card-body">
          <h4 class="card-title">Web Developer</h4>
          <ul class="card-text">
            <li>Create the company email statistic page by using Angular.js, Node.js, Mongoose.js, Highcharts and Socket.io to display the data in real time.</li>
            <li>Improve the existing video player by adding keyboard accessibility and implementing closed caption using popcorn.js.</li>
            <li>Implement various new features for the existing web application such as tracking user technologies, gamification...</li>
            <li>Contribute in converting the existing web app to fully use Angular.js.</li>
            <li>Help passing web accessibility standard level AA.</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted"><b>Tech</b>: Angular, Node, JavaScript, HTML, CSS, SASS</small>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="company-logo ducco"></div>
        <div class="card-body">
          <h4 class="card-title">Web Developer</h4>
          <ul class="card-text">
            <li>Created the company external website using WordPress to make it more appealing to new potential clients.</li>
            <li>Improved the lay-out and user interface for the company internal website by using AJAX, jQuery, JavaScript, and CSS to make it more user friendly.</li>
            <li>Suggested new ideas to help improve the system and the Traffic Duco app performance.</li>
            <li>Improved the existing search system to provide users with more search options.</li>
            <li>Implemented various new features and functionality for the internal website to satisfy the user’s needs.</li>
            <li>Modified the database structure to help reduce search time.</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted"><b>Tech</b>: PHP, JQuery, JavaScript, HTML, CSS</small>
        </div>
      </div>
      <div class="company-logo ducco"></div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="company-logo seneca"></div>
        <div class="card-body">
          <h4 class="card-title">Web Developer</h4>
          <ul class="card-text">
            <li>Led Aviation Project to develop an online learning module to assist pilot instructors from colleges across Ontario to standardize their way of grading students by using PHP, MySQL, HTML, CSS, jQuery, and JavaScript.</li>
            <li>Led The Green Citizen Project to develop an online course by using PHP, MySQL, HTML, CSS, jQuery, and JavaScript.</li>
            <li>Assisted in SeneTech Project to build an online learning resource, which provides students with the tools to give them practical experiences by using Processing.js, PHP, MySQL, HTML, CSS, jQuery, and JavaScript.</li>
            <li>Created an online quiz for COAS department and an online French Assessment Test.</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted"><b>Tech</b>: PHP, JQuery, JavaScript, HTML, CSS</small>
        </div>
      </div>
    </div>
  </div>
</div>